
	body,
	html {
		overflow-x: hidden;
		margin: 0;
	}

	.data {
		background-color: #272626;
		color: white;
		min-height: calc(100vh - 2em);
		margin: 1em;
		min-width: calc(100vw - 28px);
        padding: 1em;
	}

	.data > h1 {
		margin-top: 0%;
		padding-top: 1em;
		margin: 0%;
	}

	.socLink {
		/* height: 5em; */
		margin-top: 3em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: xx-large;
	}
	.header {
		/* height: 5em; */
		margin-top: 1em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: xx-large;
	}

	.text {
		/* height: 5em; */
		margin-top: .5em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: xx-large;
	}

	@media only screen and (max-width: 600px) {
		.socLink {
			margin-top: .5em;
		}
		.container {
			margin: auto;
		}
	}
	@media only screen and (min-width: 600px) {
		.section1{
			float: left;
			width: 45%;
		}
		.section2{
			float: right;
			width: 45%;
        }
	}

	.socLink , .quote {
		/* -webkit-animation-duration: 2s;
		animation-duration: 2s; */
		-webkit-animation-delay: .8s;
		animation-delay: .8s;
	}

	.get_started {
		bottom: 10px;
		position: absolute;
		left: calc(50% - 42px);
		/* -webkit-animation-duration: 2s;
		animation-duration: 2s; */
		cursor: pointer;
	}

	.wrapper{
		margin-top: 1.5em;	
	}

	.icon-anim{
		-webkit-animation-delay: 1.6s;
		animation-delay: 1.6s;
	}

	.col.header{
		padding-left: 0;
    }

    button > .btn.submit{
        color: black;
    }
    
